* {
  margin: 0;
  padding: 0;
}
.MainPage {
  width: 400px;
  height: 100px;
  margin: 50px auto 0px auto;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: antiquewhite;
}
.Register {
  background-color: rgba(19, 1, 1, 0.719);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
}
form {
  margin: 100px;
  padding-bottom: 100px;
}
label {
  font-family: monospace;
  color: bisque;
  font-style: italic;
}
input {
  border-radius: 5px;
  height: 20px;
}
#submit {
  height: 30px;
  width: 180px;
  background-color: burlywood;
}
body {
  background-image: url(bg.jpg);
}
span {
  color: antiquewhite;
}
