ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 13px;
  line-height: 36px;
  background-color: black;
  height: 40px;
}
li {
  float: left;
  border-right: 1px solid #156ee2;
}
a {
  display: block;
  padding: 0 130px;
  color: aliceblue;
  text-decoration: none;
  justify-content: center;
}
body {
  background-image: url(bg.jpg);
}
h1 {
  align-content: center;
  margin-left: 580px;
  margin-top: 200px;
  color: antiquewhite;
  font-size: 80px;
  font-style: italic;
}
